@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                A sua melhor opção para compras de vinhos.
            </p>
        </div>
    </section>
}
<h3>Destaques:</h3>
<ol class="round">
    <li class="one">
        <h5>Casillero del Diablo</h5>
        Casillero del Diablo - Carmenere.
        <img alt="Casillero del Diablo - Carmenere" src="../../Images/produtos/casillero_carmenere.jpg" />
    </li>

    <li class="two">
        <h5>Concha y Toro</h5>
        Concha y Toro - Cabernet Sauvignon.
        <img alt="Concha y Toro - Cabernet Sauvignon" src="../../Images/produtos/casillero_carmenere.jpg" />
    </li>
</ol>
